<%= form_for @product do |f| %>
  Name: <%= f.text_field :name %>
  Description: <%= f.text_field :description %>
  Price: <%= f.number_field :price %>
  Image: <%= f.file_field :image %>
  <br>
  <span class="waves-effect waves-light btn"><%= f.submit "Submit" %></span>

<% end %>
