<h4><%= @product.name %></h4>
<br>
<%= image_tag(@product.image.url)%>

<p><%= @product.description %></p>

<p><%= link_to "Edit", edit_product_path(@product) %> |
   <%= link_to "Delete", product_path(@product), :data => {:confirm => "You sure?",
                                                          :method => "delete"} %></p>
